

.navbar-default {
    background-color: #0066ff;
    border-color: #E7E7E7;
}

#search-button {
  background-color: #262626;
  color: #ffffff;
  border: #262626;
}


.form-control {
  background-color: #262626;
  border: #262626;
  color: #ffffff;
}

#textBox1, #textBox2, #textBox3 {
  background-color: #f5f5f5;
  border: #f5f5f5;
  color: #000;
}

#home-search {
  background-color: #ffffff;
  border: #262626;
  color: #000000;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

.btn-primary {
    color: #ffffff;
    /*background-color: #18cec2;*/
    /*border-color: #18cec2;*/
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #ffffff;
    /*background-color: #15b7ac;*/
    /*border-color: #13a096;*/
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.aboutText {
  font-size: 16px;
}

a.glassdoor-button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}


.gender-chart1 {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.gender-chart2 {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.gender-chart3 {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.ethnic-bar-graph {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.ethnic-bar-graph2 {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.chart-legend li span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

body {
    padding-top: 50px;
    font-family: 'Raleway', sans-serif;
}

h2 {
    text-align: center;
    margin-bottom: 2em;
}

.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(/static/img/home-pic2.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}

hr {
  border-width: 1px;
  border-color: #aea79f;

}

.review-title {
  color: #6e675e;
}

#review-block {


}
.chart-header {
  text-align: center;
}

#chart-header1, #chart-header2, #heading {
  font-size: 18px;
}

.chart-buttons {
  text-align: center;
}


/*d3 components*/

#chart-div {

    max-width: 1000px;
    margin: auto;
}


.label {
   font-size: 95%;
   color: #333;
}

a {
    font-size: 16px;
    text-decoration: none;
}                                  /* NEW */

.tooltip {                                                        /* NEW */
 background: #eee;                                               /* NEW */
 box-shadow: 0 0 5px #999999;                                    /* NEW */
 color: #333;                                                    /* NEW */
 display: none;                                                  /* NEW */
 font-size: 13px;                                                /* NEW */
 left: 130px;                                                    /* NEW */
 padding: 10px;                                                  /* NEW */
 position:  absolute;                                             /* NEW */
 text-align: center;                                             /* NEW */
 top: 95px;                                                      /* NEW */
 width: 80px;                                                    /* NEW */
 z-index: 10;                                                    /* NEW */
 opacity: 3;
}                                                                 /* NEW */
.legend {
 font-size: 12px;
}
rect {
 stroke-width: 2;
}

text {
    font: 12px sans-serif;
}

.rank-number {
    font: 25px "Ubuntu";
    padding-right: 10px;
}

.rank-row {
  padding: 10px;
  display: block;
}

.discover-row {
  padding: 8px;
  display: block;
}

h2 {
    text-align: center;
    margin-bottom: 1em;
}

#home-search-bar {
  width: 700px;
  align: center;
}


#ranking-column1 {
  background-color: #f5f5f5;
  border-radius: 25px;
  /*margin-right: 30px;
  margin-left: 70px;*/
  margin-bottom: 50px;
}

#ranking-column2 {
  background-color: #f5f5f5;
  border-radius: 25px;
  /*margin-right: 70px;
  margin-left:45px;*/
  margin-bottom: 50px;
}

#rankings-title {
  font-size: 38px;
}

h5 {
  font-size: 15px;
}

.table-padding {
  padding-bottom: 15px;
}


#rad1, #rad2, #rad3{
  background-color: #aea79f;
  /*margin-left: 3px;*/
  /*margin-right: 3px;*/
  border-color: #000;
}

#overall-b-button, #tech-b-button {
  background-color: #aea79f;
  /*margin-left: 1px;*/
  /*margin-right: 3px;*/
  border-color: #000;
}




/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #f5f5f5;
}
