{% extends 'base.html' %}
{% block content %}


<div class="container">
  <br>
  <br>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>About Diversitech</h3>
      <br>
      <p class="aboutText">Diversitech was created to highlight the diversity within the workforce of tech companies in the United States.
        The diversity data used in this application was compiled by the developer of Diversitech and includes the tech companies that have <i>publicly reported</i> their diversity data.
        Although there is a lot of discussion on how companies and diversity advocates should analyze the workforce data, the developer of this app has decided to compare the company data
        to the overall population of the U.S. from <a style="font-size: 16px;" href="https://www.cia.gov">The CIA World Factbook</a> by creating an algorithm to rank companies on their gender and ethnic diversity numbers.
        In other words, companies ranked in the Top 10 in ethnic and gender diversity have workforces that look most similar to the U.S. overall population.

      <p class="aboutText">If you are are company and you would like to verify, update or submit your data for this app, please contact the email below. The developer of this app is continuously adding features and
        would love to hear your feedback/suggestions.</p>
      <br>
      <h4>Contact Email:</h4>
      <a href="mailto:contact@diversitech.io" style="text-align: center; font-size: 22px;" target="_top">contact@diversitech.io</a>
    </div>
  </div>
</div>




{% endblock %}
