{% extends 'base.html' %}
{% block content %}


<div class="container">
  <br>
  <br>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>About Diversitech</h3>
      <br>
      <p class="aboutText">Diversitech was created to highlight the diversity within the tech workforce of the United States.
        The data used in this application was compiled by the developer of Diversitech and includes tech companies that have <i>publicly reported</i> their diversity data.
        Although there is a lot of discussion on how companies and diversity advocates should analyze the workforce data, the developer of this app has decided to compare the company data
        to the overall population of the U.S. Utilizing data from <a style="font-size: 16px;" href="https://www.cia.gov">The CIA World Factbook</a>, the developer created an algorithm to rank companies
        on their gender and ethnic diversity numbers. In other words, companies ranked in the Top 10 for ethnic and gender diversity have workforces that look most similar to the U.S. population.
      <br>
      <p class="aboutText">If you are a current or former employee, please submit a review for your employer utilizing the search bar above. If you are a company that would like to
        verify, update or submit your diversity data, please send us a note. Lastly, if you have ideas for how the application can be improved, please share your feedback - we're
        eager to hear from you.</p>
      <br>
      <a href="mailto:contact@diversitech.io" style="text-align: center; font-size: 22px;" target="_top">contact@diversitech.io</a>
    </div>
  </div>
</div>




{% endblock %}
