{% extends 'base.html' %}
{% block content %}


<div class="container">
  <br>
  <br>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>About Diversitech</h3>
      <br>
      <p class="aboutText">Diversitech was created to highlight the diversity within the tech workforce of the United States. It contains data on all tech companies that have <i>publicly reported</i> their
        diversity data, and compares it to the overall population of the U.S.</p>
        <br>

        <p class="aboutText">Utilizing data from <a style="font-size: 16px;" href="https://www.cia.gov">The CIA World Factbook</a>, we created a unique algorithm to rank companies according to their reported gender and ethnic diversity numbers.
          <a style="font-size: 16px; text-decoration: underline;" href="/">Companies ranked in the Top 10</a> for ethnic and gender diversity have workforces that look most similar to the U.S. population.</p>
        <br>

        <p class="aboutText">If you are a current or former employee, please submit a review for your employer utilizing the search bar above. If you are a company that would like to verify, update or submit your diversity data, please send
          us a note using the email address below. Lastly, if you have ideas for how the application can be improved, please share your feedback; we're eager to hear from you!</p>

        <br>

      <a href="mailto:contact@diversitech.io" style="text-align: center; font-size: 22px;" target="_top">contact@diversitech.io</a>
    </div>
  </div>
</div>




{% endblock %}
