<!doctype html>
<html>
<head>
  <title>Highlighting the Diversity in Tech Companies | Diversitech</title>
  {% block head %}{% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="7JqZMpGyIA5eXISqf9GXXpWqzmHlkjH6P9dmVPr7-lA" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/united/bootstrap.min.css">
  <link href="/static/css/style.css" rel="stylesheet"></link>
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
</head>

<body>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

<span itemscope itemtype="http://schema.org/WebSite"><nav class="navbar navbar-default navbar-fixed-top" style="background-color: #000000; border-color: #000000;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img itemprop="image" alt="Brand" src="/static/img/diversitech-dark-logo.jpg">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a itemprop="url" class="nav-link" href="http://www.diversitech.io/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/discover">Discover</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        <!-- Search form -->
          <form class="navbar-form navbar-left" name="searchFormNav" role="search" action="/search" method="POST">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for a company" name="search" id="srch-term" required>
                <div class="input-group-btn">
                    <button class="btn btn-default" id="search-button" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
          </form>
        </ul>
      </div>
    </div>
</nav>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


  {% block content %} put your content here {% endblock %}


<footer style="background-color: #f5f5f5;" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-9">
          <p class="text-muted" style="padding-top: 10px;">Copyright @ 2016
            <span itemprop="name">Diversitech</span></p>
            <div class="hidden-xs">
              <p class="text-muted"><span temprop="description">Diversitech highlights the diversity of
                the workforce within tech companies in the United States.</span></p>
            </div>
      </div>
      <div class="col-xs-4 col-md-1" style="padding-top: 15px;">
        <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
        <script type="IN/Share"></script>
      </div>

      <div class="col-xs-4 col-md-1" style="padding-top: 15px;">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://diversitech.io" data-text="Check out this site to see the workforce diversity in tech companies." data-hashtags="diversitech">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
      <div class="col-xs-4 col-md-1" style="padding-top: 15px;">
        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>
      </div>
  </div>
  </div>
</footer></span>

</body>



</html>
