{% extends 'base.html' %}
{% block content %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>

<div class="ethnic-chart">
  <canvas id="donutChart"></canvas>
  <div id="donutLegend" class="chart-legend"></div>
<div>

<script>
var options = { responsive: true };

var ctx_donut = $("#donutChart").get(0).getContext("2d");

$.get("/company-diversity/<int:company_id>.json", function (data) {
    var myDonutChart = new Chart(ctx_donut).Doughnut(data.melons,
                                                     options);
    $('#donutLegend').html(myDonutChart.generateLegend());
});

</script>


{% endblock %}