{% extends 'base.html' %}
{% block content %}



    <p align="center" style="background:#FFFFFF;font-size:1.3em;color:#dd4814">
      <br>


        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}

    </p>


<div class="container">
  <div class="row">
    <p style="background:#FFFFFF;font-size:2.5em;color:#000000;height:116px;">

        <span id="company-logo"></span>

        <span style="display:inline-block; vertical-align: bottom; font-family: Ubuntu; padding-bottom: 0.3em; font-variant: small-caps;">
            <strong>{{ display_company.name }}</strong>
            <br>
        </span>
    </p>
  </div>


  <!-- <div class="container-fluid">
    <div class="row inline-block-row">
      <div class="col-md-4">
        <span id="company-logo"></span>
      </div>
      <div class="col-md-4">
        <span style="vertical-align: bottom">{{ display_company.name }}</span>
      </div>
    </div>
  </div> -->


    <!-- <div id=company-logo></div> -->
    <!-- <img id="company-logo" src="url" alt="some_text"> -->

  <div class ="row">
   <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" id="data" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                <div class="hidden-xs">Diversity Data</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="reviews" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <div class="hidden-xs">Reviews</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="news" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                <div class="hidden-xs">News</div>
            </button>
        </div>
    </div>

        <div class="well">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
          <!-- <h3>This is tab 1</h3> -->
          <h3>Diversity Details</h3>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="gender-chart1">
                    <h4 id="gender-heading"></h4>
                    <canvas id="donutChart3"></canvas>
                    <div id="donutLegend3" class="chart-legend"></div>
                </div>
                <div class="overall-gender-button">
                </div>

                <div class="tech-gender-button">
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="gender-chart2">
                    <h4 id="heading-gender-tech"></h4>
                     <canvas id="donutChart4"></canvas>
                    <div id="donutLegend4" class="chart-legend">
                    </div>

                </div>
            </div>
        </div>

    </div>


    <div class="ethnic-bar-graph">
        <h4 id="heading"></h4>
        <canvas id="barGraph1"></canvas>
        <div id="barLegend" class="chart-legend"></div>
    </div>

    <div class="overall-button">
    </div>

    <div class="tech-button">
    </div>



        </div>
    <div class="tab-pane fade in" id="tab2">
          <!-- <h3>This is tab 2</h3> -->


      <div class="row">
        <div class="col-xs-6 col-md-3">
          <h3 class="review-title">Diversitech Reviews</h3>
        </div>
        <div class="col-xs-6 col-md-2 pull-right">
          <button type="button" id="write-review" class="btn btn-default" onclick="location.href = '/review/{{ display_company.company_id }}';">
            Write a review
        </button>
          <p>Overall rating: {{ overallRating }}
        </div>
      </div>

      <div class="row">
        <div class = "container">

      {% for review in reviews %}

          <div id="review-block" class = "col-m-12">
            <table style="width:100%">

            <tr>
            <h4>"{{ review.review_title }}""</h4>
            <p> Rating - {{ review.rating }}</p>
            <p> Recommended - {{ review.recommended }}</p>
            <p> Anonymous - {{ review.employee_status }}</p>
            <p><strong>Gender: </strong>{{ review.gender }}</p>
            <p><strong>Ethnicity: </strong>{{ review.ethnicity }}</p>

            </tr>

          <tr>

                <th>Pros</th>


            </tr>
            <tr>
                <td>{{ review.pros }}</td>
            </tr>

            <tr>

                  <th>Cons</th>


              </tr>

              <tr>
                  <td>{{ review.cons }}</td>
              </tr>

        </table>
        <hr>
      </div>

      {% endfor %}

      </div>
    </div>

    <div class="row">
      <div class="col-xs-8 col-md-8">
        <p style="font-size:2.5em; color:#000000; height:44px;">
        <span><img src= "https://press-content.glassdoor.com/app/uploads/files_mf/gd_logo_265x58.png" width="159" height="35" style='vertical-align:bottom margin-right:10px'></span>
        <span style="display:inline-block; vertical-align: bottom; font-family: Ubuntu; font-size: 24px; color: #6e675e;">
          Featured Review
            <br>
        </span>
      </p>
    </div>
    <div class="col-xs-4 col-md-4 pull-right">
      <span id="glassdoor-rating"></span>
  </div>
</div>

    <div class="row">
      <div class="container">
        <div class ="col-m-12">

          <table style="width:100%">

                  <tr>
                    <h4>"<span id="headline"></span>"</h4>
                    <p> Rating - <span id="rating"></span></p>
                  </tr>
                  <tr>
                      <th>Pros</th>
                  </tr>
                  <tr>
                      <td id="pros"></td>
                  </tr>
                      <th>Cons</th>
                  </tr>
                  <tr>
                    <td id="cons"></td>
                  </tr>
              </table>
              <a class="glassdoor-button" href="" class="btn btn-default" target="_blank">Go to Glassdoor</a>
         </div>
      </div>
    </div>

  </div>



        <div class="tab-pane fade in" id="tab3">
          <!-- <h3>This is tab 3</h3> -->
          <div id="news">
              <h1>News</h1>
              <p id="newsResults">Loading...</p>


          </div>
        </div>
        </div>
      </div>
</div>
</div>

    <br>
    <br>


<script>

$.get("/glassdoor-results/{{ display_company.company_id }}.json", function(data) {
    $('#company-logo').html("<img src=" + data.squareLogo + " alt='some_text' width='116' height='116' style='margin-right:10px; vertical-align:bottom; border-style: solid; border-width: 7px; border-color: #f5f5f5'>");
    $('#glassdoor-rating').html("Overall Rating - " + data.overallRating)
 });

  // Set options for chart.js
    var options = { responsive: true,
                    tooltipTemplate: "<%= value %>%",
                    multiTooltipTemplate: "<%= value %>%",
                    percentageInnerCutout : 65,
                    animationEasing: "easeOutCubic",
                    showScale: true,
                };


    // Make donut chart of percent of men and women OVERALL
    var ctx_donut_gender = $("#donutChart3").get(0).getContext("2d");
    $("#gender-heading").html("Company Gender - Overall");
    $.get("/company-gender/{{ display_company.company_id }}.json", function (data) {
        var myDonutChart3 = new Chart(ctx_donut_gender).Doughnut(data.company, options);
        $('#donutLegend3').html(myDonutChart3.generateLegend());
    });


    // Make donut chart of average percent of men and women
    var ctx_donut_gender_us = $("#donutChart4").get(0).getContext("2d");
    $.get("/company-gender/{{ display_company.company_id }}.json", function (data) {
        var myDonutChart4 = new Chart(ctx_donut_gender_us).Doughnut(data.average, options);
        $("#heading-gender-tech").html("Average Gender for Tech Companies - Overall");
        $('#donutLegend4').html(myDonutChart4.generateLegend());
    });


    function generateOverallDonutChart(evt) {
        var ctx_donut_gender = $("#donutChart3").get(0).getContext("2d");
        $("#gender-heading").html("Company Gender - Overall");
        $.get("/company-gender/{{ display_company.company_id }}.json", function (data) {
            var myDonutChart3 = new Chart(ctx_donut_gender).Doughnut(data.company, options);
            $('#donutLegend3').html(myDonutChart3.generateLegend());
        });

        var ctx_donut_gender_us = $("#donutChart4").get(0).getContext("2d");

        $.get("/company-gender/{{ display_company.company_id }}.json", function (data) {
            var myDonutChart4 = new Chart(ctx_donut_gender_us).Doughnut(data.average, options);
            $("#heading-gender-tech").html("Average Gender for Tech Companies - Overall");
            $('#donutLegend4').html(myDonutChart4.generateLegend());
        });
    };

    function generateTechDonutChart(evt) {
        var ctx_donut_gender_tech = $("#donutChart3").get(0).getContext("2d");
        $("#gender-heading").html("Company Gender - Tech");
        $.get("/company-gender-tech/{{ display_company.company_id }}.json", function (data) {
            var myDonutChart5 = new Chart(ctx_donut_gender_tech).Doughnut(data.tech, options);
            $('#donutLegend3').html(myDonutChart5.generateLegend());
        });

        var ctx_donut_gender_average_tech = $('#donutChart4').get(0).getContext("2d");

        $("#heading-gender-tech").html("Average Gender for Companies - Tech");
        $.get("/company-gender-tech/{{ display_company.company_id }}.json", function (data) {
            var myDonutChart6 = new Chart(ctx_donut_gender_average_tech).Doughnut(data.average,options);
            $('#donutLegend4').html(myDonutChart6.generateLegend());
        }

        )};

    // Make donut chart of percent of men and women in TECH roles
   $.get("/company-gender-tech/{{ display_company.company_id }}.json", function (data) {
        if (data == "False") {
            $(".gender-chart3").remove();
            console.log("NO DATA!");
        } else {

            $(".tech-gender-button").append("<button id='tech-gender-button' type='button'>Gender Tech</button>");
            $(".overall-gender-button").append("<button id='overall-gender-button' type='button'>Gender Overall</button>");

            $('#tech-gender-button').click(generateTechDonutChart);
            $('#overall-gender-button').click(generateOverallDonutChart);


            // var ctx_donut_gender_tech = $("#donutChart5").get(0).getContext("2d");

            // var myDonutChart5 = new Chart(ctx_donut_gender_tech).Doughnut(data.tech, options);
            // $('#donutLegend5').html(myDonutChart5.generateLegend());
        }
    });


    // Make bar chart of average percent of men and women in Company, Average and US

    var ctx_bar_ethnic = $("#barGraph1").get(0).getContext("2d");
    $("#heading").html("Company Ethnicity - Overall");

    $.get("/company-ethnicity/{{ display_company.company_id }}.json", function (data) {
        var myBarChart = new Chart(ctx_bar_ethnic).Bar(data, options);
        $('#barLegend').html(myBarChart.generateLegend());
    });

    // Make bar chart of average percent of men and women in Company tech, Average tech and US
    function generateTechBarGraph(evt) {
        console.log("function here")
        var ctx_bar_ethnic_tech = $("#barGraph1").get(0).getContext("2d");
        $("#heading").html("Company Ethnicity - Tech");
        $.get("/company-ethnicity-tech/{{ display_company.company_id }}.json", function (data) {
            var myBarChart2 = new Chart(ctx_bar_ethnic_tech).Bar(data, options);
            $('#barLegend').html(myBarChart2.generateLegend());
        })};

    function generateOverallBarGraph(evt) {
        var ctx_bar_ethnic = $("#barGraph1").get(0).getContext("2d");
        $("#heading").html("Company Ethnicity - Overall");
        $.get("/company-ethnicity/{{ display_company.company_id }}.json", function (data) {
            var myBarChart = new Chart(ctx_bar_ethnic).Bar(data, options);
            $('#barLegend').html(myBarChart.generateLegend());
        })};

    $.get("/company-ethnicity-tech/{{ display_company.company_id }}.json", function (data) {
        if (data == "False") {
            $(".ethnic-bar-graph2").remove();
            console.log("NO DATA!");
        } else {

            $(".tech-button").append("<button id='tech-button' type='button'>Ethnicity Tech</button>");
            $(".overall-button").append("<button id='overall-button' type='button'>Ethnicity Overall</button>");

            $('#tech-button').click(generateTechBarGraph);
            $('#overall-button').click(generateOverallBarGraph);
        }
    });

// Glassdoor Reviews

function generateGlassdoorDetails(evt) {

    $.get("/glassdoor-results/{{ display_company.company_id }}.json", function(data) {
        $('#rating').html(data.reviewRating);
    });

    $.get("/glassdoor-results/{{ display_company.company_id }}.json", function(data) {
        $('#headline').html("'" + data.reviewHeadline);
     });

    $.get("/glassdoor-results/{{ display_company.company_id }}.json", function(data) {
        $('#pros').html(data.reviewPros);

     });

    $.get("/glassdoor-results/{{ display_company.company_id }}.json", function(data) {
        $('#cons').html(data.reviewCons);

     });

    $.get("/glassdoor-results/{{ display_company.company_id }}.json", function(data) {
        $('.glassdoor-button').attr("href", data.reviewsURL);

     });

}

$("#reviews").click(generateGlassdoorDetails);


// Google News Feed - From JSON

function generateGoogleNews(evt) {


    $.get("/news/{{ display_company.company_id }}.json", function(data) {

      $("#newsResults").html("")
      for (var i = 0; i < 4; i++) {


        $("#newsResults").append("<a href=" + data.results[i].unescapedUrl + " target='_blank'>" + data.results[i].title + "</a><p class='newsPubNameDate'>" + data.results[i].publisher + ": " + data.results[i].publishedDate + "</p><p class='newsContent'>" + data.results[i].content + "</p")

    }

  } );

}

$("#news").click(generateGoogleNews);

// Google News Feed - Javascript Load

 // google.load("search", "1");
 //
 //    var newsSearch;
 //
 //      function searchComplete() {
 //
 //        // Check that we got results
        // document.getElementById('content').innerHTML = '';
 //        if (newsSearch.results && newsSearch.results.length > 0) {
 //          for (var i = 0; i < newsSearch.results.length; i++) {
 //
 //            // Create HTML elements for search results
 //            var p = document.createElement('p');
 //            p.classList.add("news-title");
 //            var a = document.createElement('a');
 //            var publNameDate = document.createElement('p');
 //            publNameDate.classList.add("publ-name-date");
 //            var content = document.createElement('p');
 //            content.classList.add("news-para");
 //
 //
 //
 //            a.href= newsSearch.results[i].unescapedUrl;
 //            a.target = "_blank";
 //            a.innerHTML = newsSearch.results[i].title;
 //            publDate = newsSearch.results[i].publishedDate;
 //            publDate2 = publDate.slice(0,25);
 //            publName = newsSearch.results[i].publisher + ": ";
 //            publNameDate.innerHTML = publName.concat(publDate2);
 //            content.innerHTML = newsSearch.results[i].content;
 //
 //
 //            // Append search results to the HTML nodes
 //            p.appendChild(a);
 //            p.appendChild(publNameDate);
 //            p.appendChild(content);
 //
 //
 //            document.body.appendChild(p);
 //
 //          }
 //        }
 //      }
 //
 //      function onLoad() {
 //
 //        // Create a News Search instance.
 //        newsSearch = new google.search.NewsSearch();
 //
 //
 //        // Set searchComplete as the callback function when a search is
 //        // complete.  The newsSearch object will have results in it.
 //        newsSearch.setSearchCompleteCallback(this, searchComplete, null);
 //
 //
 //
 //        // Specify search quer(ies)
 //        newsSearch.execute('{{ display_company.name }} tech diversity');
 //
 //
 //        // Include the required Google branding
 //        google.search.Search.getBranding('branding');
 //
 //      }
 //
 //      // Set a callback to call your code when the page loads
 //      google.setOnLoadCallback(onLoad);

    $(document).ready(function() {
    $(".btn-pref .btn").click(function () {
    $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
    // $(".tab").addClass("active"); // instead of this do the below
    $(this).removeClass("btn-default").addClass("btn-primary");
    });
    });


    </script>


   <!--  <div id="branding"  style="float: left;"></div><br/> -->


{% endblock %}
