{% extends 'base.html' %}
{% block content %}


    <p>

        {% for message in get_flashed_messages() %}
            {{ message }} 
        {% endfor %}
        
    </p>

    <h2>{{ display_company.name }}</h2>
    <p>Female: {{ display_company.female_overall}}%</p>
    <p>Male: {{ display_company.male_overall}}%</p>

    
    <h3>Diversity Details</h3>
    <ul>
        {% for category in categories %}
            <li>{{ category.category }}: {{ category.percentage }}%</li>
        {% endfor %}
    </ul>


  
    <div class="ethnic-chart">
      <canvas id="donutChart"></canvas>
      <div id="donutLegend" class="chart-legend"></div>

    <script>
    var options = { responsive: true };

    var ctx_donut = $("#donutChart").get(0).getContext("2d");

    $.get("/company-diversity/{{ display_company.company_id }}.json", function (data) {
        var myDonutChart = new Chart(ctx_donut).Doughnut(data.{{ display_company.name }},
                                                         options);
        $('#donutLegend').html(myDonutChart.generateLegend());
    });


  // (function() {
  //   var cx = '002676415119425181905:myqqnwwksnw';
  //   var gcse = document.createElement('script');
  //   gcse.type = 'text/javascript';
  //   gcse.async = true;
  //   gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
  //       '//cse.google.com/cse.js?cx=' + cx;
  //   var s = document.getElementsByTagName('script')[0];
  //   s.parentNode.insertBefore(gcse, s);
  // })();

    </script>

    <!-- <gcse:searchresults-only resultsUrl="http://www.google.com?search=google+diversity"></gcse:searchresults-only>
 -->
    <a href="/review/{{ display_company.company_id }}"><h3>Write a review</h3><a>



    <div>
        <h3>Reviews</h3>
        <table style="width:100%">
            <tr>
                <th>Employee Status</th>
                <th>Rating</th>
                <th>Review Title</th>
                <th>Pros</th>
                <th>Cons</th>
            </tr>
            {% for review in reviews %}
            <tr>
                <td>{{ review.employee_status }}</td>
                <td>{{ review.rating }}</td> 
                <td>{{ review.review_title }}</td>
                <td>{{ review.pros }}</td>
                <td>{{ review.cons }}</td>
            </tr>
            {% endfor %}
        </table>

{% endblock %}