{% extends 'base.html' %}
{% block content %}

<p align="center" style="background:#FFFFFF;font-size:1.3em;color:#dd4814">
  <br>

    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}

</p>


<div class="container">
  <div class="row">
    <p style="background:#FFFFFF;font-size:3em;color:#000000;height:116px;">

        <span id="company-logo"></span>

        <span style="display:inline-block; vertical-align: bottom; font-family: Ubuntu; padding-bottom: 0.3em; font-variant: small-caps;">
            <strong>{{ display_company.name }}</strong>
            <br>
        </span>
    </p>
  </div>

  <div class ="row">
   <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" id="data" style="font-size: 18px;" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                <div class="hidden-xs">Diversity Data</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="reviews" style="font-size: 18px;" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <div class="hidden-xs">Reviews</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="news" style="font-size: 18px;" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                <div class="hidden-xs">Diversity News</div>
            </button>
        </div>
    </div>

<div class="well">
    <div class="tab-content">
      <div class="tab-pane fade in active" id="tab1">
          <!-- <h3>This is tab 1</h3> -->
          <h3 class="review-title">Diversity Details</h3>


<!-- ////// d3 Donut Charts////// -->
          <div class="container" id="chart-div">
              <div class="row">
                <h1 style="text-align: center;">Gender Data</h1>
                <br>
              </div>
              <div class="row">
                <div class="col-xs-6 col-md-6">
                    <h4  class="chart-header" style="text-transform: uppercase"><stong>{{ display_company.name }}</strong></h4>
                    <h4 style= "color:#dd4814;" class="chart-header" id="chart-header1"></h4>
                    <br>
                    <div id='chartDiv'></div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <h4  class="chart-header"><strong>Average for Tech Companies</strong></h4>
                    <h4 style= "color:#dd4814;"  class="chart-header" id="chart-header2"></h4>
                    <br>
                    <div id='chartDiv2'></div>
                </div>
              </div>
              <div class='wrapper text-center'>
                <br>
                <div class='btn-group' role='group' aria-label='...'>
                  <span id="donut-overall-button"></span>
                  <span id="donut-tech-button"></span>
                  <span id="donut-management-button"></span>
                  <h5 style="margin-top: 30px;" class="report-title"></h5>
                </div>
              </div>
              </div>






<!--
//// Chart.js chart /// -->


    <!-- <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="gender-chart1">
                    <h4 id="gender-heading"></h4>
                    <canvas id="donutChart3"></canvas>
                    <div id="donutLegend3" class="chart-legend"></div>
                </div>
                <div class="overall-gender-button">
                </div>

                <div class="tech-gender-button">
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="gender-chart2">
                    <h4 id="heading-gender-tech"></h4>
                     <canvas id="donutChart4"></canvas>
                    <div id="donutLegend4" class="chart-legend">
                    </div>

                </div>
            </div>
        </div> -->

    <!-- </div> -->

    <br>
    <hr>
    <div class="row">
      <h1 style="text-align: center;">Ethnicity Data</h1>
      <br>
    </div>
    <div class="row">
      <div class="ethnic-bar-graph">
          <h4 class="chart-header" style="text-transform: uppercase;"><strong>{{ display_company.name }}</strong></h4>
          <h4 style= "color:#dd4814;" id="heading" class="chart-header"></h4>
          <br>
          <canvas id="barGraph1"></canvas>
          <div id="barLegend" class="chart-legend"></div>
     </div>
    </div>
    <div class='wrapper text-center'>
      <div class='btn-group' role='group' aria-label='...'>
        <span id="overall-button"></span>
        <span id="tech-button"></span>
        <h5 style="margin-top: 30px;" class="report-title"></h5>
      </div>
    </div>
</div>

    <div class="tab-pane fade in" id="tab2">
          <!-- <h3>This is tab 2</h3> -->
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <h3 class="review-title">Reviews</h3>
        </div>
        <div class="col-xs-6 col-md-2 pull-right">
          <button type="button" id="write-review" class="btn btn-info btn-lg" onclick="location.href = '/review/{{ display_company.company_id }}';">
            Write a review
        </button>
        <br>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-6 col-md-3" style="background-color: #fff; border-radius: 25px; margin-left: 10px;">
          <h4 style="font-size: 25px">Overall Rating<h4>
          <p class="table-padding"><span id="rating-company"></span></p>
        </div>

    </div>
    <br>

      <div class="row">
        <div class="container">
          <div id="no-reviews"></div>
        </div>
        <div class = "container" id="noReviews">


          {% for review in reviews %}
          <div id="review-block" class = "col-m-12">
          <table style="width:100%">

          <tr>
          <h4>"{{ review.review_title }}""</h4>
          <p> <strong>Rating: </strong>{{ review.rating }}/5</p>
          <p> <strong>Recommended: </strong>{{ review.recommended }}</p>
          <p> <strong>Employee Status:</strong> {{ review.employee_status }}</p>
          <p><strong>Gender: </strong>{{ review.gender }}</p>
          <p><strong>Ethnicity: </strong>{{ review.ethnicity }}</p>
          </tr>
          <tr>
              <th class="table-padding">Pros</th>
          </tr>
          <tr>
              <td class="table-padding">{{ review.pros }}</td>
          </tr>
          <tr>
                <th class="table-padding">Cons</th>
            </tr>
            <tr>
                <td>{{ review.cons }}</td>
            </tr>
          </table>
          </div>
          <hr>
          {% endfor %}
      </div>

      </div>

      <div class="row">
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p style="font-size:2.5em; color:#000000; height:44px;">
                <span><img src= "https://press-content.glassdoor.com/app/uploads/files_mf/gd_logo_265x58.png" width="159" height="35" style='vertical-align:bottom margin-right:10px'></span>
                <span style="display:inline-block; vertical-align: bottom; font-family: Ubuntu; font-size: 24px; color: #6e675e;">
                  Featured Review
                </span>
              </p>
              </div>

              <div class="modal-body">

                  <table style="width:100%">

                          <tr>
                            <h4 class="table-padding">"<span id="headline"></span>"</h4>
                            <p class="table-padding"><span id="rating"></span></p>
                          </tr>
                          <tr>
                              <th class="table-padding">Pros</th>
                          </tr>
                          <tr>
                              <td class="table-padding" id="pros"></td>
                          </tr>
                              <th class="table-padding">Cons</th>
                              <th></th>

                          </tr>
                          <tr>
                            <td class="table-padding" id="cons"></td>
                          </tr>
                      </table>
                      <br>
                      <a href="" id="glassdoor-button" target="_blank"><button type="button" class="btn btn-default" style="background-color: rgba(124,178,40,0.9)">
                      See more Glassdoor Reviews...
                    </button></a>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>






        <div class="tab-pane fade in" id="tab3">
          <!-- <h3>This is tab 3</h3> -->
          <div id="news">
              <h3 class="review-title">Diversity News About <span style="text-transform: uppercase;">{{ display_company.name }}</span></h1>
              <br>
              <span id="newsResults">Loading...</span>
              <br>
              <div id="branding"  style="float: left;"></div>
              <br>
          </div>
        </div>
        </div>
      </div>
      </div>
</div>
</div>

    <br>
    <br>




<script src="http://d3js.org/d3.v3.min.js"></script>
<script>

$.get("/glassdoor-results/{{ display_company.company_id }}.json", function(data) {
    $('#company-logo').html("<img src=" + data.squareLogo + " alt='some_text' width='116' height='116' style='margin-right:10px; vertical-align:bottom; border-style: solid; border-width: 7px; border-color: #f5f5f5'>");
    // $('#glassdoor-rating').html("Overall Rating - " + data.overallRating)

    if ({{ overallRating }} == 1) {
      $('#rating-company').html("<img style='width: 134px; height: 28px;' src='/static/img/1.jpg'>");
    }
    else if ({{ overallRating }} == 2) {
      $('#rating-company').html("<img style='width: 134px; height: 28px;' src='/static/img/2.jpg'>");
    }
    else if ({{ overallRating }} == 3) {
      $('#rating-company').html("<img style='width: 134px; height: 28px;' src='/static/img/3.jpg'>");
    }
    else if ({{ overallRating }} == 5) {
      $('#rating-company').html("<img style='width: 134px; height: 28px;' src='/static/img/4.jpg'>");
    }
    else if ({{ overallRating }} == 5) {
      $('#rating-company').html("<img style='width: 134px; height: 28px;' src='/static/img/5.jpg'>");
    }

 });



if ({{ reportDate }} != 0) {
  $(".report-title").html("<span style='text-transform: uppercase;'>{{ display_company.name }}</span> last reported their diversity information in {{ reportDate }}. *");

}


// Glassdoor Stars




//////////////************************ d3 DONUT CHARTS **************************//////////////////////////

 var data1 = [{
   "label": "Female",
   "count": {{ data1 }} },

   {"label": "Male",
   "count": {{ data2 }} }
 ];
 //company tech

 if ({{ data3 }} != 0) {
 var data2 = [{
   "label": "Female",
   "count": {{ data3 }} },

   {"label": "Male",
   "count": {{ data4 }} }
 ]

 var data5 =[{
 "label": "Female",
 "count": {{ data9 }} },

 {"label": "Male",
 "count": {{ data10 }}
 }]

 ;
 $('#donut-overall-button').append("<button type='button' class='btn' id='rad1' value='data1' onclick='change1(data1); change2(data3);'>Overall</button>")
 $('#donut-tech-button').append("<button type='button' class='btn btn-primary-outline' name='radData' id='rad2' value='data2' onclick='change1(data2); change2(data4);'>Tech</button>")
 $('#donut-management-button').append("<button type='button' class='btn btn-primary-outline' name='radData' id='rad3' value='data5' onclick='change1(data5); change2(data6);'>Management</button>")
 }


// "<button type='button' class='btn btn-primary'><input type='radio' name='radData' id='rad1' value='data1' checked='checked' onclick='change1(data1); change2(data3);' /><label for='rad1'>Overall</label><input type='radio' name='radData' id='rad2' value='data2' onclick='change1(data2); change2(data4);'/><label for='rad2'>Tech</label>/button>"



 // average overall
 var data3 = [{

 "label": "Female",
 "count": {{ data5 }} },

 {"label": "Male",
 "count": {{ data6 }} }
 ]
 ;

 if ({{ data3 }} != 0) {
 // average tech
 var data4 = [{

 "label": "Female",
 "count": {{ data7 }} },

 {"label": "Male",
 "count": {{ data8 }} }]
 ;

 var data6 =[{
 "label": "Female",
 "count": {{ data11 }} },
{"label": "Male",
 "count": {{ data12 }}
 }];


 }
 // function chart1() {
     ////

     /////

     console.log(data1, data2, data3, data4)


     var width = 450,
     height = 250,
     radius = Math.min(width, height) / 2;
     var legendRectSize = 18;                                  // NEW
     var legendSpacing = 4;                                    // NEW

     var color = d3.scale.ordinal()
     .range(["#ad49b6", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

     var color2 = d3.scale.ordinal()
     .range(["#be6dc5", "#a9a8bd"]);

     var arc = d3.svg.arc()
     .outerRadius(radius - 10)
     .innerRadius(radius - 50);

     var pie = d3.layout.pie()
     .sort(null)
     .value(function(d) {
     return d.count;
     });

     var pie2 = d3.layout.pie()
     .sort(null)
     .value(function(d) {
     return d.count;
     });

     var tooltip = d3.select('#chartDiv')                               // NEW
     .append('div')                                                // NEW
     .attr('class', 'tooltip');

     tooltip.append('div')                                           // NEW
     .attr('class', 'label');                                      // NEW

     tooltip.append('div')                                           // NEW
     .attr('class', 'count');                                      // NEW

     tooltip.append('div')
     .attr('class', 'percent');                                         // NEW

     var tooltip2 = d3.select('#chartDiv2')                               // NEW
     .append('div')                                                // NEW
     .attr('class', 'tooltip');

                                    // NEW

     tooltip2.append('div')                                           // NEW
     .attr('class', 'label');                                      // NEW

     tooltip2.append('div')                                           // NEW
     .attr('class', 'count');                                      // NEW

     tooltip2.append('div')                                           // NEW
     .attr('class', 'percent');


     var svg = d3.select("#chartDiv").append("svg")
     .attr("width", width)
     .attr("height", height)
     .append("g")
     .attr("id", "pieChart")
     .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");
 ///// Begin
     var svg2 = d3.select("#chartDiv2").append("svg")
     .attr("width", width)
     .attr("height", height)
     .append("g")
     .attr("id", "pieChart")
     .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");
 //////////// End
     var path = svg.selectAll("path")
     .data(pie(data1))
     .enter()
     .append("path");

     path.transition()
     .duration(500)
     .attr("fill", function(d, i) {
     return color(d.data.label);
     })
     .attr("d", arc)
     .each(function(d) {
     this._current = d;
     }); // store the initial angles

     path.on('mouseover', function(d) {                            // NEW
     var total = d3.sum(data1.map(function(d) {                // NEW
     return d.count;                                           // NEW
     }));                                                        // NEW
     var percent = Math.round(1000 * d.data.count / total) / 10; // NEW
     tooltip.select('.label').html(d.data.label);                // NEW
     // tooltip.select('.count').html(d.data.count);                // NEW
     tooltip.select('.percent').html(percent + '%');             // NEW
     tooltip.style('display', 'block');                          // NEW
     });                                                           // NEW

     path.on('mouseout', function() {                              // NEW
     tooltip.style('display', 'none');                           // NEW
     });

     path.on('mousemove', function(d) {
     tooltip.style('top', (d3.event.layerY + 10) + 'px')
     .style('left', (d3.event.layerX + 10) + 'px');
     });
   //// Begin
   var path2 = svg2.selectAll("path")
   .data(pie2(data3))
   .enter()
   .append("path");
   /////////// End




     path2.transition()
     .duration(500)
     .attr("fill", function(d, i) {
     return color2(d.data.label);
     })
     .attr("d", arc)
     .each(function(d) {
     this._current = d;
     }); // store the initial angles

     path2.on('mouseover', function(d) {                            // NEW
     var total = d3.sum(data3.map(function(d) {                // NEW
     return d.count;                                           // NEW
     }));                                                        // NEW
     var percent = Math.round(1000 * d.data.count / total) / 10; // NEW
     tooltip2.select('.label').html(d.data.label);                // NEW
     // tooltip.select('.count').html(d.data.count);                // NEW
     tooltip2.select('.percent').html(percent + '%');             // NEW
     tooltip2.style('display', 'block');                          // NEW
     });                      // NEW

     path2.on('mouseout', function() {                              // NEW
     tooltip2.style('display', 'none');                           // NEW
     });

     path2.on('mousemove', function(d) {
     tooltip2.style('top', (d3.event.layerY + 10) + 'px')
     .style('left', (d3.event.layerX + 10) + 'px');
     });

     var legend = svg.selectAll('.legend')
     .data(color.domain())
     .enter()
     .append('g')
     .attr('class', 'legend')
     .attr('transform', function(d, i) {
     var height = legendRectSize + legendSpacing;
     var offset =  height * color.domain().length / 2;
     var horz = -2 * legendRectSize;
     var vert = i * height - offset;
     return 'translate(' + horz + ',' + vert + ')';
     });

     legend.append('rect')
     .attr('width', legendRectSize)
     .attr('height', legendRectSize)
     .style('fill', color)
     .style('stroke', color);

     legend.append('text')
     .attr('x', legendRectSize + legendSpacing)
     .attr('y', legendRectSize - legendSpacing)
     .text(function(d) { return d });


     var legend2 = svg2.selectAll('.legend')                     // NEW
     .data(color2.domain())                                   // NEW
     .enter()                                                // NEW
     .append('g')                                            // NEW
     .attr('class', 'legend')                                // NEW
     .attr('transform', function(d, i) {                     // NEW
     var height = legendRectSize + legendSpacing;          // NEW
     var offset =  height * color2.domain().length / 2;     // NEW
     var horz = -2 * legendRectSize;                       // NEW
     var vert = i * height - offset;                       // NEW
     return 'translate(' + horz + ',' + vert + ')';        // NEW
     });                                                     // NEW
                                                // NEW

     legend2.append('rect')                                     // NEW
     .attr('width', legendRectSize)                          // NEW
     .attr('height', legendRectSize)                         // NEW
     .style('fill', color2)                                   // NEW
     .style('stroke', color2);                                // NEW

     legend2.append('text')                                     // NEW
     .attr('x', legendRectSize + legendSpacing)              // NEW
     .attr('y', legendRectSize - legendSpacing)              // NEW
     .text(function(d) { return d; });                       // NEW                                    // NEW


     function change1(data) {
     path.data(pie(data));
     path.transition().duration(750).attrTween("d", arcTween); // redraw the arcs
     };

     function change2(data) {
     path2.data(pie(data));
     path2.transition().duration(750).attrTween("d", arcTween2); // redraw the arcs
     };


     // Store the displayed angles in _current.
     // Then, interpolate from _current to the new angles.
     // During the transition, _current is updated in-place by d3.interpolate.

 function arcTween(a) {
 var i = d3.interpolate(this._current, a);
 this._current = i(0);
 return function(t) {
 return arc(i(t));
 };
 };


 function arcTween2(a) {
 var i = d3.interpolate(this._current, a);
 this._current = i(0);
 return function(t) {
 return arc(i(t));
 };

 };

// Change the headers depending on the donut charts that are being displayed
$("#chart-header1").html("OVERALL");
$("#chart-header2").html("OVERALL");

 function generateOverallDonutHeaders(evt) {
     $("#chart-header1").html("OVERALL");
     $("#chart-header2").html("OVERALL");
   };

 function generateTechDonutHeaders(evt) {
   $("#chart-header1").html("TECH");
   $("#chart-header2").html("TECH");
 };

 function generateManagementDonutHeaders(evt) {
   $("#chart-header1").html("MANAGEMENT");
   $("#chart-header2").html("MANAGEMENT");
 };

 $("#rad1").click(generateOverallDonutHeaders);
 $("#rad2").click(generateTechDonutHeaders);
 $("#rad3").click(generateManagementDonutHeaders);




///////////*********************** CHART.JS DONUT CHARTS*******************/////////////////////////////////
  // // Set options for chart.js
    var options = { responsive: true,
                    tooltipTemplate: "<%= value %>%",
                    multiTooltipTemplate: "<%= value %>%",
                    percentageInnerCutout : 65,
                    animationEasing: "easeOutCubic",
                    showScale: true,
                };
  //
  //
  //   // Make donut chart of percent of men and women OVERALL
  //   var ctx_donut_gender = $("#donutChart3").get(0).getContext("2d");
  //   $("#gender-heading").html("Company Gender - Overall");
  //   $.get("/company-gender/{{ display_company.company_id }}.json", function (data) {
  //       var myDonutChart3 = new Chart(ctx_donut_gender).Doughnut(data.company, options);
  //       $('#donutLegend3').html(myDonutChart3.generateLegend());
  //   });
  //
  //
  //   // Make donut chart of average percent of men and women
  //   var ctx_donut_gender_us = $("#donutChart4").get(0).getContext("2d");
  //   $.get("/company-gender/{{ display_company.company_id }}.json", function (data) {
  //       var myDonutChart4 = new Chart(ctx_donut_gender_us).Doughnut(data.average, options);
  //       $("#heading-gender-tech").html("Average Gender for Tech Companies - Overall");
  //       $('#donutLegend4').html(myDonutChart4.generateLegend());
  //   });
  //
  //
  //   function generateOverallDonutChart(evt) {
  //       var ctx_donut_gender = $("#donutChart3").get(0).getContext("2d");
  //       $("#gender-heading").html("Company Gender - Overall");
  //       $.get("/company-gender/{{ display_company.company_id }}.json", function (data) {
  //           var myDonutChart3 = new Chart(ctx_donut_gender).Doughnut(data.company, options);
  //           $('#donutLegend3').html(myDonutChart3.generateLegend());
  //       });
  //
  //       var ctx_donut_gender_us = $("#donutChart4").get(0).getContext("2d");
  //
  //       $.get("/company-gender/{{ display_company.company_id }}.json", function (data) {
  //           var myDonutChart4 = new Chart(ctx_donut_gender_us).Doughnut(data.average, options);
  //           $("#heading-gender-tech").html("Average Gender for Tech Companies - Overall");
  //           $('#donutLegend4').html(myDonutChart4.generateLegend());
  //       });
  //   };
  //
  //   function generateTechDonutChart(evt) {
  //       var ctx_donut_gender_tech = $("#donutChart3").get(0).getContext("2d");
  //       $("#gender-heading").html("Company Gender - Tech");
  //       $.get("/company-gender-tech/{{ display_company.company_id }}.json", function (data) {
  //           var myDonutChart5 = new Chart(ctx_donut_gender_tech).Doughnut(data.tech, options);
  //           $('#donutLegend3').html(myDonutChart5.generateLegend());
  //       });
  //
  //       var ctx_donut_gender_average_tech = $('#donutChart4').get(0).getContext("2d");
  //
  //       $("#heading-gender-tech").html("Average Gender for Companies - Tech");
  //       $.get("/company-gender-tech/{{ display_company.company_id }}.json", function (data) {
  //           var myDonutChart6 = new Chart(ctx_donut_gender_average_tech).Doughnut(data.average,options);
  //           $('#donutLegend4').html(myDonutChart6.generateLegend());
  //       }
  //
  //       )};
  //
  //   // Make donut chart of percent of men and women in TECH roles
  //  $.get("/company-gender-tech/{{ display_company.company_id }}.json", function (data) {
  //       if (data == "False") {
  //           $(".gender-chart3").remove();
  //           console.log("NO DATA!");
  //       } else {
  //
  //           $(".tech-gender-button").append("<button id='tech-gender-button' type='button'>Gender Tech</button>");
  //           $(".overall-gender-button").append("<button id='overall-gender-button' type='button'>Gender Overall</button>");
  //
  //           $('#tech-gender-button').click(generateTechDonutChart);
  //           $('#overall-gender-button').click(generateOverallDonutChart);
  //
  //
  //           // var ctx_donut_gender_tech = $("#donutChart5").get(0).getContext("2d");
  //
  //           // var myDonutChart5 = new Chart(ctx_donut_gender_tech).Doughnut(data.tech, options);
  //           // $('#donutLegend5').html(myDonutChart5.generateLegend());
  //       }
  //   });
  //

///////////*********************** CHART.JS BAR CHART *******************/////////////////////////////////
    // Make bar chart of average percent of men and women in Company, Average and US

    var ctx_bar_ethnic = $("#barGraph1").get(0).getContext("2d");
    $("#heading").html("OVERALL");

    $.get("/company-ethnicity/{{ display_company.company_id }}.json", function (data) {
        var myBarChart = new Chart(ctx_bar_ethnic).Bar(data, options);
        $('#barLegend').html(myBarChart.generateLegend());
    });

    // Make bar chart of average percent of men and women in Company tech, Average tech and US
    function generateTechBarGraph(evt) {
        console.log("function here")
        var ctx_bar_ethnic_tech = $("#barGraph1").get(0).getContext("2d");
        $("#heading").html("TECH");
        $.get("/company-ethnicity-tech/{{ display_company.company_id }}.json", function (data) {
            var myBarChart2 = new Chart(ctx_bar_ethnic_tech).Bar(data, options);
            $('#barLegend').html(myBarChart2.generateLegend());
        })};

    function generateOverallBarGraph(evt) {
        var ctx_bar_ethnic = $("#barGraph1").get(0).getContext("2d");
        $("#heading").html("OVERALL");
        $.get("/company-ethnicity/{{ display_company.company_id }}.json", function (data) {
            var myBarChart = new Chart(ctx_bar_ethnic).Bar(data, options);
            $('#barLegend').html(myBarChart.generateLegend());
        })};

    $.get("/company-ethnicity-tech/{{ display_company.company_id }}.json", function (data) {
        if (data == "False") {
            $(".ethnic-bar-graph2").remove();
            console.log("NO DATA!");
        } else {

            $("#tech-button").append("<button id='tech-button' class='btn' type='button'>Tech</button>");
            $("#overall-button").append("<button id='overall-button' class='btn' type='button'>Overall</button>");

            $('#tech-button').click(generateTechBarGraph);
            $('#overall-button').click(generateOverallBarGraph);
        }
    });



// Generate Reviews

function generateReviews() {

  if ({{ reviews }}.length == 0) {
    $('#no-reviews').html("<br><br><p style='font-size: 25px;'>Be the first to <a style='font-size:25px;' href ='/review/{{ display_company.company_id }}'>write a review</a>!</p><br><br>");
  };


}


// Glassdoor Reviews

function generateGlassdoorDetails(evt) {

    $.get("/glassdoor-results/{{ display_company.company_id }}.json", function(data) {
        // $('#rating').html(data.reviewRating);
        if (data.reviewRating == 1) {
          $('#rating').html("<img style='width: 191px; height: 40px;' src='/static/img/1.jpg'>");
        }
        else if (data.reviewRating == 2) {
          $('#rating').html("<img style='width: 191px; height: 40px;' src='/static/img/2.jpg'>");
        }
        else if (data.reviewRating == 3) {
          $('#rating').html("<img style='width: 191px; height: 40px;' src='/static/img/3.jpg'>");
        }
        else if (data.reviewRating == 5) {
          $('#rating').html("<img style='width: 191px; height: 40px;' src='/static/img/4.jpg'>");
        }
        else if (data.reviewRating == 5) {
          $('#rating').html("<img style='width: 191px; height: 40px;' src='/static/img/5.jpg'>");
        }
    });

    $.get("/glassdoor-results/{{ display_company.company_id }}.json", function(data) {
        $('#headline').html("'" + data.reviewHeadline);
     });

    $.get("/glassdoor-results/{{ display_company.company_id }}.json", function(data) {
        $('#pros').html(data.reviewPros);

     });

    $.get("/glassdoor-results/{{ display_company.company_id }}.json", function(data) {
        $('#cons').html(data.reviewCons);

     });

    $.get("/glassdoor-results/{{ display_company.company_id }}.json", function(data) {
        $('#glassdoor-button').attr("href", data.reviewsURL);

     });

}

$("#reviews").click(generateGlassdoorDetails, generateReviews);


// Google News Feed - From JSON

// function genderateGoogleNews(evt) {
//
//
//     $.get("/news/{{ display_company.company_id }}.json", function(data) {
//
//       $("#newsResults").html("")
//       for (var i = 0; i < 4; i++) {
//
//
//         $("#newsResults").append("<a href=" + data.results[i].unescapedUrl + " target='_blank'>" + data.results[i].title + "</a><p class='newsPubNameDate'><strong>" + data.results[i].publisher + "</strong>: " + data.results[i].publishedDate + "</p><p class='newsContent'>" + data.results[i].content + "</p")
//
//     }
//
//   } );
//
// }
//


// Google News Feed - Javascript Load



 google.load("search", "1");

    var newsSearch;

      function searchComplete() {

        $("#newsResults").html("")
             for (var i = 0; i < 4; i++) {


               $("#newsResults").append("<a href=" + newsSearch.results[i].unescapedUrl + " target='_blank'>" + newsSearch.results[i].title + "</a><p class='newsPubNameDate'><strong>" + newsSearch.results[i].publisher + "</strong>: " + newsSearch.results[i].publishedDate + "</p><p class='newsContent'>" + newsSearch.results[i].content + "</p")

           }
};

      function onLoad() {
 //
 //        // Create a News Search instance.
        newsSearch = new google.search.NewsSearch();
 //
 //
 //        // Set searchComplete as the callback function when a search is
 //        // complete.  The newsSearch object will have results in it.
        newsSearch.setSearchCompleteCallback(this, searchComplete, null);

 //        // Specify search quer(ies)
        newsSearch.execute('{{ display_company.name }} tech diversity');

         // Include the required Google branding
        google.search.Search.getBranding('branding');

      };



$("#news").click(onLoad);

    $(document).ready(function() {
    $(".btn-pref .btn").click(function () {
    $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
    // $(".tab").addClass("active"); // instead of this do the below
    $(this).removeClass("btn-default").addClass("btn-primary");
    });
    });


    </script>



{% endblock %}
