{% extends 'base.html' %}
{% block content %}

<div class ="container">
  <div class="row">
    <div class='wrapper text-center'>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h2><span style="color: #dd4814;">{{ company }}</span> has not been found.</h2>
    </div>
    <div class='wrapper text-center'>
      <h2>Ask them to send their diversity data to <a style="font-size: 30px;" href="mailto:contact@diversitech.io">contact@diversitech.io</a>.</h2>
    </div>
  </div>

  <div class="row">

    <br>
    <br>
    <div class="col-sm-8 col-sm-offset-2">
      <form name="searchForm" id="home-search-bar" action="/search" onsubmit="return validateForm()" method='POST'>
        <div id="imaginary_container">
            <div class="input-group stylish-input-group" style="border: #000000 1px solid; margin-left: 20px;">
                <input type="text" id="home-search" style="font-size: 20px;height: 50px;" name="search" class="form-control" placeholder="Search for another company...">
                    <span class="input-group-addon">
                      <button type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                      </button>
                    </span>
            </div>
        </div>
      </form>
    </div>
  </div>
  </div>


<script>

<!-- Google Analytics -->

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-75816678-1', 'auto');
ga('send', 'pageview');


  function validateForm() {
      var x = document.forms["searchForm"]["search"].value;
      if (x == null || x == "") {
          alert("Company name must be entered");
          return false;
      };
  };

</script>





{% endblock %}
