{% extends 'base.html' %}
{% block content %}


<div class="jumbotron">
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

          <h1 style="color: white;">Tech Company Diversity Data and Reviews</h1>
          <br>
        <div class="search-box">
          <form action="/search" method='POST'>
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="text" name="search" class="form-control" placeholder="Search for a company...">
                                        <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
          </form>
        </div>

    </div>
    </div>

  <div class="container">
    <div class = "row">
      <div class="col-md-6">
        <h2>Top 5 for Gender Diversity</h2>
        <ol>
            {% for company in genderTop5 %}
                <li>
                    <a href="/company/{{ company.company_id }}">
                    {{ company.name }}
                    </a>
                </li>
            {% endfor %}
        </ol>
      </div>
      <div class="col-md-6">
        <h2>Top 5 for Ethnic Diversity</h2>
        <ol>
            {% for company in ethnicTop5 %}
                <li>
                    <a href="/company/{{ company.company_id }}">
                    {{ company.name }}
                    </a>
                </li>
            {% endfor %}
        </ol>
      </div>
      </div>
    </div>
  </div>


{% endblock %}
