{% extends 'base.html' %}
{% block content %}

    <h1>DiversiTech</h1>

    <p>Welcome to DiversiTech.</p>


    <h3>Companies</h3>
    <ul>
        {% for company in companies %}
            <li>
                <a href="/company/{{ company.company_id }}">
                {{ company.name }} 
                </a>
            </li>
        {% endfor %}
    </ul>

<!-- <form action="/search" method='POST'>
        <div class="form-group">
          <input type="text" name="search" class="form-control" placeholder="Search">
        </div>
        <input type="submit">
    </form> -->

<form action="/search" method='POST'>
<div class="container">
  <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div id="imaginary_container"> 
                <div class="input-group stylish-input-group">
                    <input type="text" name="search" class="form-control"  placeholder="Search" >
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
                    </span>
                </div>
            </div>
        </div>
  </div>
</div>
  </form>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

{% endblock %}